@media screen and (max-width: 480px) {
  .hide-sm {
    display: none;
  }

  .sticky-sm-right {
    position: sticky;
    right: 0;
    box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6;
  }
}

.padding-0 {
  padding: 0;
}

.padding-2 {
  padding: 0.2em;
}
